<template>
  <div class="card">
    <h2>#{{ props.id }} {{ name }} | {{ props.lastName }}</h2>
    <h3>Email: <span>{{ props.email }}</span></h3>
    <h3>Age: <span>{{ props.age }}</span></h3>
    <h3>Email: <span>{{ props.email }}</span></h3>
    <button @click="handleClick">Alert</button>
    <button :disabled="validationChange" @click="$emit('saysGoodBye', props.name)">Adios</button>
    <input type="text" v-model.trim="change">
  </div>
</template>

<script setup lang="ts">
import type { IuserInfo } from '@/interfaces/IUserInfo'
import { ref, computed } from 'vue';

const props = defineProps<IuserInfo>()
const emits = defineEmits(["saysHi", "saysGoodBye"])
const name = ref(props.name)
const change = ref<string>("")
// {
//   (e: 'change', id: number): void
//   (e: 'update', value: string): void
// }
const handleClick = () => {
  emits('saysHi', props.id, change.value)
}


// const changeV = computed(() => {
//   return change.value * 2
// }) 

const validationChange = computed(() => change.value.length <= 0)
</script>

<style scoped>
.card {
  border: gray solid 1px;
  border-radius: 4px;
  padding: 8px 12px;
}
</style>