<template>
  <section>
    <button @click="handleClick(0, '')">Click</button>
    <div class="container">
      <UserItem @says-good-bye="showGoodBye" @says-hi="handleClick" v-for="(user, index) in Users" :key="user.id" v-bind="user" :index="index" />
    </div>
  </section>
</template>

<script setup lang="ts">
import UserItem from './UserItem.vue';
import Users from '@/data/UserData';

const handleClick = (id: number, change: string) => {
  console.log(id, change)
}

const showGoodBye = (name: string) => {
  alert('Adios padre, soy ' + name)
}
</script>

<style scoped>
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

button {
  width: 100%;
  padding: 8px;
}
</style>